# dbt build artifacts
target/
dbt_packages/
logs/
.DS_Store

# local DuckDB file
warehouse.duckdb

# IDE
.idea/
*.iml
.vscode/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store

# Python
.venv/
venv/
__pycache__/
.ruff_cache/
.pytest_cache/
